<h1>Stupid Coaching</h1>
<p>Ask your coach a question...</p>
<div>
  <p>You asked: <%= params[:question] %></p>
</div>
<br>
<div>
  <p>Your coach says: <%= @response %></p>
</div>
<br>
<%= link_to "Ask another question", ask_path %>
